# Ingat: Abaikan folder yang berat dan data rahasia agar build Docker ringan
node_modules
dist
.env
.git
.gitignore
README.md

# Database & Log
*.log
npm-debug.log*
server/prisma/dev.db
server/prisma/dev.db-journal
